<div class="row">
    <div class="col-md-4 col-md-offset-4">
      <h1> Welcome!  </h1>


     <% @posts.each do |i| %>
     <li> <%= link_to i.title, "http://#{i.link}" %> </li>
     <%end%>
    </div>

  </div>